/* .imageContainer {
  display:inline-block;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #808080;
  max-width: 100%;
  overflow: hidden;
} */

body {
  background-color: lightgrey;
  /* overflow:hidden; */
  min-height: 100% 
}

html, body {
  margin: 0;
  height: 100%;
}

.fullScreen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
}

.tl-link-btn {
  height: 24px;
  background: url(/img/open_story.png) no-repeat 27px center;
  display: block;
}

.oc-wid-node {
  min-width: 92px;
  font-size: large;
}

.oc-med-node {
  min-width: 75px;
  font-size: large;
}

.oc-nar-node {
  min-width: 66px;
  font-size: larger;
}

.tl-button {
  height: 30px;
  width: 40px;
}

.tl-button img {
  width: 42px;
  height: 30px;
}

.hide-popup {
  display: none;
}

#tree-popup {
  position: absolute;
  top: 400px;
  width: 720px;
  height: 150px;
  z-index: 9;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
}

#tree-popup-header {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #b5d9ea;
  color: #fff;
}