/* css to be referenced in tiki-toki advanced settings CSS File URL, uploaded to */
/* https://trabinfamilystorage.blob.core.windows.net/resources/trabinfamilytimeline.css */

table.tft-basic-tbla {
  color: #aaa;
  /* overflow:hidden; */
  /* min-height: 100%  */
}
img.tft-basic-tbla {
  border-style: solid; 
  border-color: #aaa; 
  border-width: 2px; 
  float: left; 
  margin-right: 5px;
}

a.tft-basic-tbla {
  /* margin-right: 5px; */
  /* margin-bottom: 5px; */
  color: #aaa;
  font-weight: bolder;
}


.tft-basic-tblb * {
  color: #aaa;
  font-size: .99em;
}

.tft-basic-tblb img {
  border-style: solid; 
  border-width: 2px; 
  float: left; 
  margin-right: 5px;
  margin-top: 3px;
}

.tft-basic-tblb a {
  color: #aaa;
  font-weight: bolder;
}


.tft-basic-ft * {
  color: #aaa;
  font-size: 0.9em;
  font-style: italic;
}

ol.tft-basic-ft{
  list-style-type: auto;
  padding-left: 20px !important;
}


ul.tft-basic-ft{
  list-style-type: square;
  padding-left: 20px !important;
}
